@import url("https://fonts.googleapis.com/css2?family=Barriecito&family=Inter:wght@400;700&family=Kablammo&family=Raleway:wght@500&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Unbounded:wght@600&display=swap");
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

html, body {
  height: 100%;
}

body {
  color: #2C2D35;
  font-size: 20px;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  padding: 33px 0 33px 0;
  background: #E1EDE6;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 60px;
  margin-right: 60px;
}

.banner__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  margin-bottom: 70px;
}

.banner__title {
  font-size: 60px;
  padding: 145px 0 20px 0;
}
.banner__title span {
  color: #598D66;
}

.banner__text {
  color: #86928B;
  font-size: 18px;
  padding-bottom: 60px;
}

.banner__link {
  color: #598D66;
  padding: 20px 60px;
  border: 1px solid #598D66;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}