@import url("https://fonts.googleapis.com/css2?family=Barriecito&family=Inter:wght@400;700&family=Kablammo&family=Raleway:wght@500&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Unbounded:wght@600&display=swap");
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 1.15;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

html, body {
  height: 100%;
}

img {
  max-width: 100%;
}

body {
  color: #2C2D35;
  font-size: 20px;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  padding: 33px 0 33px 0;
  background: #E1EDE6;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 62px;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 60px;
  margin-right: 60px;
}

.nav__link:hover {
  color: #598D66;
}

.banner__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  margin-bottom: 70px;
}

.banner__title {
  font-size: 60px;
  padding: 145px 0 20px 0;
}
.banner__title span {
  color: #598D66;
}

.banner__text {
  color: #86928B;
  font-size: 18px;
  padding-bottom: 60px;
}

.banner__link {
  color: #598D66;
  padding: 20px 60px;
  border: 1px solid #598D66;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
.banner__link:hover {
  background: #598D66;
  color: #F4F6F5;
}

.catalog__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px;
}

.section__title {
  font-size: 40px;
}

.catalog__tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 32px;
}

.catalog__tabs-btn {
  position: relative;
  border: none;
  background: #E1EDE6;
  color: #2C2D35;
  font-family: Raleway;
  font-size: 20px;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.catalog__tabs-btn::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  border: 2px solid var(--color-leaves);
  border-radius: inherit;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}
.catalog__tabs-btn.catalog__tabs-btn--active {
  background-color: #376B44;
  color: #F4F6F5;
}
.catalog__tabs-btn:hover {
  background: #598D66;
  color: #F4F6F5;
}

.catalog__list {
  display: none;
  -ms-grid-columns: 1fr 30px 1fr 30px 1fr;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-bottom: 70px;
}
.catalog__list.catalog__list--active {
  display: -ms-grid;
  display: grid;
}

.product {
  padding: 20px;
  background: #E1EDE6;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.product__content {
  padding: 20px 0 10px 0;
}

.product__author {
  color: #86928B;
  font-size: 18px;
  margin-bottom: 10px;
}

.product__title {
  font-size: 30px;
  margin-bottom: 8px;
}

.product__description {
  font-size: 18px;
  margin-bottom: 30px;
}

.product__price {
  font-size: 24px;
  margin-bottom: 20px;
  color: #598D66;
}

.product__btn {
  background: transparent;
  padding: 20px 40px;
  display: inline-block;
  color: #598D66;
  font-family: Raleway;
  font-size: 20px;
  border: 1px solid #598D66;
  width: 100%;
  text-align: center;
  cursor: pointer;
}
.product__btn:hover {
  background: #598D66;
  color: #F4F6F5;
}

.new {
  position: relative;
  overflow: hidden;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 70px 0 70px 0;
  margin-bottom: 70px;
}
.new::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 50%;
  background: rgba(13, 43, 67, 0.8);
  mix-blend-mode: multiply;
  -webkit-filter: blur(315px);
          filter: blur(315px);
}

.new__title {
  color: #F4F6F5;
  font-size: 40px;
  max-width: 521px;
  padding-left: 100px;
  z-index: 5;
  position: relative;
  background-image: url(../images/Star.svg);
  background-position: left center;
  background-size: 80px 80px;
  background-repeat: no-repeat;
  margin-bottom: 20px;
}

.new__content {
  color: #F4F6F5;
  position: relative;
  font-size: 18px;
  max-width: 540px;
  line-height: 150%;
  margin-bottom: 60px;
}

.new__text {
  margin-bottom: 20px;
}

.new__link {
  position: relative;
  padding: 20px 60px;
  background: #EEDB6D;
  display: inline-block;
  min-width: 257px;
  font-size: 20px;
}
.new__link:hover {
  background: #FAEB97;
}

.team__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  margin-bottom: 70px;
}

.team__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 635px;
}

.team__title {
  font-size: 40px;
  padding-top: 124px;
  margin-bottom: 20px;
}

.team__text {
  font-size: 18px;
  margin-bottom: 20px;
  line-height: 150%;
}

.team__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.footer {
  background: #E1EDE6;
  padding: 23px 0 23px 0;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__logo {
  margin-bottom: 35px;
}

.footer__phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__phone-number {
  margin-bottom: 8px;
}
.footer__phone-number:hover {
  color: #598D66;
}

.footer__phone-text {
  color: #86928B;
  font-size: 18px;
}

.footer__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.footer__left {
  margin-right: 115px;
}

.footer__menu-col {
  margin-right: 60px;
}

.footer__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: auto;
}

.footer__menu-title {
  font-size: 20px;
  margin-bottom: 6px;
}

.footer__menu-list-item {
  margin-bottom: 6px;
}

.footer__menu-link {
  color: #86928B;
  font-size: 18px;
  line-height: 150%;
}
.footer__menu-link:hover {
  color: #598D66;
}

.socialmedia {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  margin-bottom: 10px;
}

.footer__copyright {
  color: #86928B;
  font-size: 12px;
  line-height: 120%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 6px;
}

.socialmedia__link:hover {
  fill: #376B44;
}

@media (max-width: 780px) {
  .container {
    max-width: 768px;
  }
  .nav__link {
    font-size: 18px;
  }
  .banner__title {
    font-size: 40px;
    padding: 35px 0 20px 0;
  }
  .banner__text {
    padding-bottom: 40px;
  }
  .section__title {
    font-size: 30px;
  }
  .catalog__list {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }
  .new__title {
    font-size: 30px;
    background-size: 70px 70px;
  }
  .new__content {
    margin-bottom: 30px;
  }
  .team__container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 0;
  }
  .team__title {
    font-size: 30px;
    padding-top: 40px;
    margin-bottom: 30px;
  }
  .team__text {
    margin-bottom: 30px;
  }
  .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-right: 0;
    margin-bottom: 10px;
  }
}
@media (max-width: 680px) {
  .header {
    padding: 16px 0 16px 0;
  }
  .container {
    max-width: 680px;
    padding: 0 33px;
  }
  .nav__list {
    margin-right: 0;
  }
  .banner {
    padding: 50px 0 50px;
  }
  .banner__container {
    margin-bottom: 0;
  }
  .header__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header__left {
    margin-bottom: 16px;
  }
  .header__right {
    padding-top: 16px;
    border-top: 1px solid #C3D1C6;
    width: 100%;
  }
  .cart {
    margin: 0 auto;
    margin-right: 0;
  }
  .banner__title {
    font-size: 36px;
    padding: 0 0 10px;
    line-height: 100%;
  }
  .banner__content {
    max-width: 285px;
  }
  .banner__text {
    font-size: 16px;
    line-height: 150%;
    padding-bottom: 10px;
  }
  .banner__link {
    font-size: 18px;
    max-width: 178px;
    height: 50px;
    padding: 15px 30px;
  }
  .catalog__nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
  }
  .catalog__tabs-btn {
    font-size: 18px;
  }
  .section__title {
    font-size: 24px;
  }
  .product {
    height: 100%;
  }
  .product__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  .product__author {
    font-size: 16px;
  }
  .product__title {
    font-size: 24px;
    line-height: normal;
  }
  .product__description {
    font-size: 16px;
  }
  .product__price {
    font-size: 20px;
  }
  .product__btn {
    font-size: 18px;
    padding: 15px 30px;
    margin-top: auto;
  }
  .catalog__list {
    margin-bottom: 50px;
  }
  .new {
    margin-bottom: 50px;
  }
  .new__title {
    font-size: 24px;
    background-size: 60px 60px;
    padding-left: 80px;
  }
  .new__content {
    font-size: 16px;
  }
  .new__link {
    font-size: 18px;
  }
  .team__main-image {
    width: 80%;
  }
  .team__title {
    font-size: 24px;
    padding-top: 30px;
    margin-bottom: 20px;
  }
  .team__text {
    font-size: 16px;
    margin-bottom: 20px;
  }
  .team__container {
    margin-bottom: 50px;
  }
  .footer__phone-text {
    font-size: 16px;
  }
  .footer__menu-link {
    font-size: 16px;
  }
  .footer__menu {
    margin-right: 0;
    margin-bottom: 10px;
  }
  .footer__right {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__copyright {
    -webkit-box-orient: initial;
    -webkit-box-direction: initial;
        -ms-flex-direction: initial;
            flex-direction: initial;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .socialmedia {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer__props {
    border-top: 1px solid #C3D1C6;
    padding-top: 16px;
  }
}
@media (max-width: 480px) {
  .container {
    padding: 0 15px;
  }
  .header {
    background: #fff;
  }
  .nav__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 50px;
  }
  .header__nav {
    position: absolute;
    height: 100vh;
    background: #E1EDE6;
    width: 100%;
    left: 0;
    top: 0;
    padding-top: 76px;
    margin-top: 70px;
    padding-left: 15px;
    z-index: 100;
    display: none;
  }
  .header__right {
    border-top: none;
    padding-top: 0;
  }
  .header__right::after {
    content: "";
    background-color: #E1EDE6;
    height: 62px;
    width: 104%;
    position: absolute;
    right: -15px;
    left: -15px;
  }
  .header__right .cart {
    z-index: 1;
  }
  .banner {
    padding: 60px 0 60px;
  }
  .banner__image {
    display: none;
  }
  .banner__content {
    max-width: 100%;
  }
  .banner__title {
    font-size: 30px;
    padding-bottom: 20px;
  }
  .banner__text {
    font-size: 14px;
    padding-bottom: 40px;
  }
  .catalog__tabs {
    overflow-x: scroll;
  }
  .catalog__list {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
  }
  .new {
    margin-bottom: 60px;
  }
  .new__title {
    background-size: 50px 50px;
    padding-left: 60px;
  }
  .new__link {
    width: 100%;
    text-align: center;
  }
  .team__main-image {
    width: 100%;
  }
  .team__container {
    margin-bottom: 94px;
  }
  .team__image {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 25px;
  }
  .footer__left {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__logo {
    margin-bottom: 20px;
  }
  .footer__menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
    margin-bottom: 20px;
  }
  .footer__phone {
    margin-bottom: 20px;
  }
  .product picture {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .product__image {
    height: 250px;
    width: 250px;
    -o-object-fit: cover;
       object-fit: cover;
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
}