@import 'variables';
@import url('https://fonts.googleapis.com/css2?family=Barriecito&family=Inter:wght@400;700&family=Kablammo&family=Raleway:wght@500&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Unbounded:wght@600&display=swap');

html {
    box-sizing: border-box;
    line-height: 1.15;
}

*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

html, body {
    height: 100%;
}

img {
    max-width: 100%;
}

body {
    color: $mainFontColor;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
}

.header {
    padding: 33px 0 33px 0;
    background: $mainGreenColor;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__right {
    display: flex;
}

.nav__list {
    display: flex;
    gap: 60px;
    margin-right: 60px;
}

.banner__container {
    display: flex;
    gap: 30px;
    margin-bottom: 70px;
}

.banner__title {
    font-size: 60px;
    padding: 145px 0 20px 0;

    span {
        color: $fontGreenColor;
    }
}

.banner__text {
    color: $fontGreyColor;
    font-size: 18px;
    padding-bottom: 60px;
}

.banner__link {
    color: $fontGreenColor;
    padding: 20px 60px;
    border: 1px solid $fontGreenColor;
    display: inline-flex;
}

.catalog__nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.section__title {
    font-size: 40px;
}

.catalog__tabs {
    display: flex;
    gap: 32px;
}

.catalog__tabs-btn {
    border: none;
    background: $mainGreenColor;
    color: #2C2D35;
    font-family: Raleway;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;

    &.catalog__tabs-btn--active {
        border: 2px solid #598D66;

        &:hover {
            background-color: #376B44;
            color: $fontWhiteColor;
            border: 2px solid #376B44;
        }
    }

    &:hover {
        background: $fontGreenColor;
        color: $fontWhiteColor;
    }   
}

.catalog__list {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    margin-bottom: 70px;
}

.product {
    padding: 20px;
    background: $mainGreenColor;
    height: 100%;
    display: flex;
    flex-direction: column;
    
}

.product__content {
    padding: 20px 0 10px 0;
    
}

.product__author {
    color: $fontGreyColor;
    font-size: 18px;
    margin-bottom: 10px;
}

.product__title {
    font-size: 30px;
    margin-bottom: 8px;
}

.product__description{
    font-size: 18px;
    margin-bottom: 30px;
}

.product__price {
    font-size: 24px;
    margin-bottom: 20px;
    color: $fontGreenColor;
}

.product__btn {
    background: transparent;
    padding: 20px 40px;
    display: inline-block;
    color: $fontGreenColor;
    font-family: Raleway;
    font-size: 20px;
    border: 1px solid #598D66;
    width: 100%;
    text-align: center;
    cursor: pointer;

    &:hover {
        background: #598D66;
        color: $fontWhiteColor;
    }
}

.new {
    position: relative;
    overflow: hidden;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 70px 0 70px 0;

    &::before {
        content: "";
        background: rgba(13, 43, 67, 0.8);
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 50%;
        mix-blend-mode: multiply;
        filter: blur(315px);
    }
}

.new__title {
    color: $fontWhiteColor;
    font-size: 40px;
    max-width: 521px;
    padding-left: 100px;
    z-index: 5;
    position: relative;
    background-image: url(../images/Star.svg);
    background-position: left center;
    background-size: 80px 80px;
    background-repeat: no-repeat;
    margin-bottom: 20px;
}

.new__content {
    color: $fontWhiteColor;
    position: relative;
    font-size: 18px;
    max-width: 540px;
    line-height: 150%;
    margin-bottom: 60px;
}

.new__text {
    margin-bottom: 20px;
}

.new__link {
    position: relative;
    padding: 20px 60px;
    background: #EEDB6D;
    display: inline-block;
    min-width: 257px;
    font-size: 20px;

    &:hover {
        background: #FAEB97;
    }
}

