@import 'variables';
@import url('https://fonts.googleapis.com/css2?family=Barriecito&family=Inter:wght@400;700&family=Kablammo&family=Raleway:wght@500&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Unbounded:wght@600&display=swap');

html {
    box-sizing: border-box;
    line-height: 1.15;
}

*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

html, body {
    height: 100%;
}

img {
    max-width: 100%;
}

body {
    color: $mainFontColor;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
}

.header {
    padding: 33px 0 33px 0;
    background: $mainGreenColor;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__right {
    display: flex;
}

.nav__list {
    display: flex;
    gap: 60px;
    margin-right: 60px;
}

.nav__link {
    &:hover {
        color: $fontGreenColor;
    }
}

.banner__container {
    display: flex;
    gap: 30px;
    margin-bottom: 70px;
}

.banner__title {
    font-size: 60px;
    padding: 145px 0 20px 0;

    span {
        color: $fontGreenColor;
    }
}

.banner__text {
    color: $fontGreyColor;
    font-size: 18px;
    padding-bottom: 60px;
}

.banner__link {
    color: $fontGreenColor;
    padding: 20px 60px;
    border: 1px solid $fontGreenColor;
    display: inline-flex;

    &:hover {
        background: #598D66;
        color: $fontWhiteColor;
    }
}

.catalog__nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.section__title {
    font-size: 40px;
}

.catalog__tabs {
    display: flex;
    gap: 32px;
}

.catalog__tabs-btn {
    position: relative;
    border: none;
    background: $mainGreenColor;
    color: #2C2D35;
    font-family: Raleway;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    box-sizing: border-box;

    &::after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        border: 2px solid var(--color-leaves);
        border-radius: inherit;
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
    }

    &.catalog__tabs-btn--active {
        // border: 2px solid #598D66;
        background-color: #376B44;
        color: $fontWhiteColor;
        // border: 2px solid #376B44;
        // &:hover {
        //     background-color: #376B44;
        //     color: $fontWhiteColor;
        //     border: 2px solid #376B44;
        // }
    }


    &:hover {
        background: $fontGreenColor;
        color: $fontWhiteColor;
    }   
}

.catalog__list {
    display: none;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    margin-bottom: 70px;
    &.catalog__list--active {
        display: grid;
    }
}


.product {
    padding: 20px;
    background: $mainGreenColor;
    height: 100%;
    display: flex;
    flex-direction: column;
    
}

.product__content {
    padding: 20px 0 10px 0;
    
}

.product__author {
    color: $fontGreyColor;
    font-size: 18px;
    margin-bottom: 10px;
}

.product__title {
    font-size: 30px;
    margin-bottom: 8px;
}

.product__description{
    font-size: 18px;
    margin-bottom: 30px;
}

.product__price {
    font-size: 24px;
    margin-bottom: 20px;
    color: $fontGreenColor;
}

.product__btn {
    background: transparent;
    padding: 20px 40px;
    display: inline-block;
    color: $fontGreenColor;
    font-family: Raleway;
    font-size: 20px;
    border: 1px solid #598D66;
    width: 100%;
    text-align: center;
    cursor: pointer;

    &:hover {
        background: #598D66;
        color: $fontWhiteColor;
    }
}

.new {
    position: relative;
    overflow: hidden;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 70px 0 70px 0;
    margin-bottom: 70px;

    &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 50%;
        background: rgba(13, 43, 67, 0.8);
        mix-blend-mode: multiply;
        filter: blur(315px);
    }
    }


.new__title {
    color: $fontWhiteColor;
    font-size: 40px;
    max-width: 521px;
    padding-left: 100px;
    z-index: 5;
    position: relative;
    background-image: url(../images/Star.svg);
    background-position: left center;
    background-size: 80px 80px;
    background-repeat: no-repeat;
    margin-bottom: 20px;
}

.new__content {
    color: $fontWhiteColor;
    position: relative;
    font-size: 18px;
    max-width: 540px;
    line-height: 150%;
    margin-bottom: 60px;
}

.new__text {
    margin-bottom: 20px;
}

.new__link {
    position: relative;
    padding: 20px 60px;
    background: #EEDB6D;
    display: inline-block;
    min-width: 257px;
    font-size: 20px;

    &:hover {
        background: #FAEB97;
    }
}

.team__container {
    display: flex;
    gap: 30px;
    margin-bottom: 70px;
}

.team__content {
    display: flex;
    flex-direction: column;
    max-width: 635px;
}

.team__title {
    font-size: 40px;
    padding-top: 124px;
    margin-bottom: 20px;
}

.team__text {
    font-size: 18px;
    margin-bottom: 20px;
    line-height: 150%;
}

.team__image {
    display: flex;
    gap: 30px;
}

.footer {
    background: $mainGreenColor;
    padding: 23px 0 23px 0;
}

.footer__container {
    display: flex;
}

.footer__logo {
    margin-bottom: 35px;
}

.footer__phone {
    display: flex;
    flex-direction: column;
}

.footer__phone-number {
    margin-bottom: 8px;

    &:hover {
        color: $fontGreenColor;
    }
}

.footer__phone-text {
    color: $fontGreyColor;
    font-size: 18px;
}

.footer__right {
    display: flex;
    flex-grow: 1;
}

.footer__left {
    margin-right: 115px;
}

.footer__menu-col {
    margin-right: 60px;
}

.footer__menu {
    display: flex;
    margin-right: auto;
}

.footer__menu-title {
    font-size: 20px;
    margin-bottom: 6px;
}

.footer__menu-list-item {
    margin-bottom: 6px;
}

.footer__menu-link {
    color: $fontGreyColor;
    font-size: 18px;
    line-height: 150%;

    &:hover {
        color: $fontGreenColor;
    }
}


.socialmedia {
    display: flex;
    gap: 30px;
    margin-bottom: 10px;
}

.footer__copyright {
    color: $fontGreyColor;
    font-size: 12px;
    line-height: 120%;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.socialmedia__link {
    &:hover {
        fill: #376B44;
    }
}


@media(max-width: 780px) {
    .container {
        max-width: 768px;
    }

    .nav__link {
        font-size: 18px;
    }

    .banner__title {
        font-size: 40px;
        padding: 35px 0 20px 0;
    }

    .banner__text {
        padding-bottom: 40px;
    }

    .section__title {
        font-size: 30px;
    }

    .catalog__list {
        grid-template-columns: repeat(2, 1fr);
    }

    .new__title {
        font-size: 30px;
        background-size: 70px 70px;
    }

    .new__content {
        margin-bottom: 30px;
    }

    .team__container {
        flex-wrap: wrap;
        gap: 0;
    }

    .team__title {
        font-size: 30px;
        padding-top: 40px;
        margin-bottom: 30px;
    }
    .team__text {
        margin-bottom: 30px;
    }

    .footer__container {
        flex-direction: column;
    }

    .footer__left {
        display: flex;
        justify-content: space-between;
        margin-right: 0;
        margin-bottom: 10px;
    }
}

@media (max-width: 680px) {
    .header {
        padding: 16px 0 16px 0;
    }
    .container {
        max-width: 680px;
        padding: 0 33px;
    }

    .banner {
        padding: 50px 0 50px;
    }

    .banner__container {
        margin-bottom: 0;
    }
    
    .header__container {
        flex-direction: column;
    }
    .header__left {
        margin-bottom: 16px;
    }

    .header__right {
        padding-top: 16px;
        border-top: 1px solid #C3D1C6;
        width: 100%;
    }

    .cart {
        margin: 0 auto;
        margin-right: 0;
    }

    .banner__title {
        font-size: 36px;
        padding: 0 0 10px;
        line-height: 100%;
    }

    .banner__content {
        max-width: 285px;
    }

    .banner__text {
        font-size: 16px;
        line-height: 150%;
        padding-bottom: 10px;
    }
    .banner__link {
        font-size: 18px;
        max-width: 178px;
        height: 50px;
        padding: 15px 30px;
    }

    .catalog__nav {
        flex-direction: column;
        gap: 20px;
    }

    .catalog__tabs-btn {
        font-size: 18px;
    }

    .section__title {
        font-size: 24px;
    }

    .product {
        height: 100%;
    }
    .product__content {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }
    .product__author {
        font-size: 16px;
    }

    .product__title {
        font-size: 24px;
        line-height: normal;
    }

    .product__description {
        font-size: 16px;
    }

    .product__price  {
        font-size: 20px;
    }

    .product__btn {
        font-size: 18px;
        padding: 15px 30px;
        margin-top: auto;
    }

    .catalog__list {
        margin-bottom: 50px;
    }

    .new {
        margin-bottom: 50px;
    }
    
    .new__title {
        font-size: 24px;
        background-size: 60px 60px;
        padding-left: 80px;
    }

    .new__content {
        font-size: 16px;
    }

    .new__link {
        font-size: 18px;
    }

    .team__main-image {
        width: 80%;
    }

    .team__title {
        font-size: 24px;
        padding-top: 30px;
        margin-bottom: 20px;
    }

    .team__text {
        font-size: 16px;
        margin-bottom: 20px;
    }

    .team__container {
        margin-bottom: 50px;
    }

    .footer__phone-text {
        font-size: 16px;
    }

    .footer__menu-link {
        font-size: 16px;
    }

    .footer__menu {
        margin-right: 0;
        margin-bottom: 10px;
    }
    .footer__right {
        flex-direction: column;
    }

    .footer__copyright {
        flex-direction: initial;
        justify-content: center;
    }

    .socialmedia {
        justify-content: center;
    }

    .footer__props {
        border-top: 1px solid #C3D1C6;
        padding-top: 16px;
    }
}